<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink="/charecters/all">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink="/charecters/dark">Dark</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink="/charecters/light">Light</a>
        </li>
      </ul>
      <app-list [charecters]="getCharecter()"></app-list>
</div>